{{# each products }}
<div class="row">
  {{# each this}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{this.imagePath}}" class="img-responsive">
      <div class="caption">
        <h3>{{this.title}}</h3>
        <p class="description">{{this.description}}</p>
        <div class="clearfix">
            <div class="price pull-left">$50</div> 
            <a href="#" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>

        </div>
      </div>
    </div>
  </div>
{{/each}}


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://img.wennermedia.com/920-width/rs-221101-AP_404246784589.jpg">
      <div class="caption">
        <h3>Product1</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vitae dignissimos nam, numquam excepturi suscipit neque eos velit alias accusantium labore quasi possimus cumque illo!</p>
        <div class="clearfix">
            <div class="price pull-left">$50</div> 
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>

        </div>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://img.wennermedia.com/920-width/rs-221101-AP_404246784589.jpg">
      <div class="caption">
        <h3>Product1</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vitae dignissimos nam, numquam excepturi suscipit neque eos velit alias accusantium labore quasi possimus cumque illo!</p>
        <div class="clearfix">
            <div class="price pull-left">$50</div> 
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>

        </div>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://img.wennermedia.com/920-width/rs-221101-AP_404246784589.jpg">
      <div class="caption">
        <h3>Product1</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vitae dignissimos nam, numquam excepturi suscipit neque eos velit alias accusantium labore quasi possimus cumque illo!</p>
        <div class="clearfix">
            <div class="price pull-left">$50</div> 
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>

        </div>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://img.wennermedia.com/920-width/rs-221101-AP_404246784589.jpg">
      <div class="caption">
        <h3>Product1</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vitae dignissimos nam, numquam excepturi suscipit neque eos velit alias accusantium labore quasi possimus cumque illo!</p>
        <div class="clearfix">
            <div class="price pull-left">$50</div> 
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>

        </div>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://img.wennermedia.com/920-width/rs-221101-AP_404246784589.jpg">
      <div class="caption">
        <h3>Product1</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate vitae dignissimos nam, numquam excepturi suscipit neque eos velit alias accusantium labore quasi possimus cumque illo!</p>
        <div class="clearfix">
            <div class="price pull-left">$50</div> 
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>

        </div>
      </div>
    </div>
  </div>
